USE [master]
GO
/****** Object:  Database [myDB]    Script Date: 2020/10/12 19:31:11 ******/
CREATE DATABASE [myDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\myDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'myDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\myDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myDB]
GO
/****** Object:  Table [dbo].[usertable]    Script Date: 2020/10/12 19:31:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usertable](
	[username] [char](10) NULL,
	[password] [char](10) NULL,
	[type] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[usertable] ([username], [password], [type]) VALUES (N'zjut      ', N'zjut      ', 1)
INSERT [dbo].[usertable] ([username], [password], [type]) VALUES (N'admin     ', N'admin     ', 1)
INSERT [dbo].[usertable] ([username], [password], [type]) VALUES (N'temp      ', N'temp      ', 2)
USE [master]
GO
